<!DOCTYPE html>
<html>
    <head>
        <title>Quiz</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <figure class="text-center" style="margin: 200px">
            <h1><%=@result%></h1>
            <p><%=@answer%></p>
            <form action="/nextquestion">
                <input type="submit" class="btn btn-primary" value="Continue">
            </form>
        </figure>
    </body>
</html>